body {  
    margin: 0;  
    font-family: Verdana;
    background-color: rgb(241, 241, 241);
}  

.navbar {  
    display: flex;  
    justify-content: space-between;  
    align-items: center;  
    background-color: #1b4aa200;
    padding: 10px 40px;  
    position: fixed; /* Fija la barra de navegación */  
    width: 100%; /* Asegura que ocupa todo el ancho */  
    top: 0; /* Se posiciona en la parte superior */ 
    z-index: 1000; /* Asegura de que sea mayor que otros elementos */
}

/* Añadir esta clase para el efecto al hacer scroll */  
.navbar.scrolled {  
    background-color: #4c7bc1; /* Cambia el color de fondo */  
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.272); /* Añade sombra */  
    transition: background-color 0.9s, box-shadow 0.7s; /* Transiciones suaves */  
}

.nav-links {  
    list-style-type: none;  
    display: flex;  
    margin: 0;  
    padding: 0;
    margin-right: 60px;  
}  

.nav-links li {  
    margin: 0 15px;  
}  

.nav-links a {  
    color: white;  
    text-decoration: none;  
    font-size: 18px;  
    transition: color 0.3s;  
}  

.nav-links a:hover {  
    color: #b0d0ff; /* Color al pasar el ratón */  
    transition-delay: 0.1s; 
}

.icons {  
    list-style: none; /* Sin puntos de lista */  
    padding: 0; /* Sin padding */  
    margin: 0; /* Sin margenes */  
}  
   
.icons li {  
    display: inline-block; /* Mostrar íconos en línea */  
    margin: 10px 15px 4px; /* Espaciado entre íconos */  
}  
   
/* Estilo para los íconos (imágenes) */  
.icons img {  
    width:30px; /* Ajusta el tamaño de los íconos */  
    height: auto; /* Mantiene la proporción */  
}  
   
/* Estilo para la sección de derechos de autor */  
.copyright {  
    list-style: none; /* Sin puntos de lista */  
    padding: 0; /* Sin padding */  
    margin-top: 20px; /* Espaciado superior */  
    color: #b0d0ff;
}  
   
.copyright li {  
    display: inline; /* Mostrar en línea */  
    margin:010px; /* Espaciado entre elementos */  
}  
   
.copyright a {  
    color: #b0d0ff; /* Color de los enlaces */  
    text-decoration: none; /* Sin subrayado */  
}  
   
.copyright a:hover {  
    text-decoration: none; /* Subrayar al pasar el ratón */  
    color: #98c1ff;
}

.footer{
    position: absolute; /* Permite posicionar el cuadro de manera independiente */  
    top: 70px; /* Espacio desde la parte superior de la pantalla */  
    left: 50%; /* Centrar en la pantalla */  
    transform: translateX(-50%); /* Ajustar el centrado */  
    width: 100%; /* Ancho del cuadro */  
    height: 90px;
    background-color: white; /* Color de fondo */  
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Sombra para el cuadro */  
    z-index: 990; /* Asegura que el cuadro esté encima de otros elementos, pero debajo del navbar */  
}

#footer {  
    background-color: #4c7bc1; /* Color de fondo oscuro */  
    color: #b0d0ff; /* Color del texto */  
    text-align: center; /* Texto centrado */  
    padding: 15px 0;
    position: relative; /* Posicionamiento normal */  
    bottom: 0; /* Ubicación en la parte inferior */  
    width: 100%; /* Ancho completo */  
    font-family: Verdana; /* Fuente del footer */  
}  

/* curriculum 1, 2, 3. */

.header {
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 20px;
}

.profile-img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-bottom: 10px;
}

.header-info h1 {
    margin: 0;
    font-size: 2.5em;
    color: #333;
}

.header-info p {
    margin: 5px 0;
    font-size: 1.2em;
    color: #555;
}

/* curriculum1 */

.box1 {
    padding-top: 100px;
    display: flex;
    justify-content: center; /* Center the container */
    align-items: center;
    min-height: 100vh; /* Full viewport height */
}

.container1 {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    margin: 20px auto;
    box-sizing: border-box; /* Include padding and border in width */
}


h3 {  
    margin-top: 20px;  
    color: #151929;
    font-size: 1.2em;
    border-bottom: 2px solid #151929;
    padding-bottom: 5px;
    margin: 0; 
}

p {  
    margin: 10px 0;
    line-height: 1.6;
    color: #555;
}  

ul {  
    padding-left: 20px;
    color: #555;
}  

ul li {  
    margin-bottom: 10px;
}  

.job {  
    font-weight: bold;  
    color: #151929;
} 

.education{
    font-weight: bold;  
    color: #151929;
}

.table {  
    width: 100%;
    border-collapse: collapse; 
    margin-top: 15px;
    margin-bottom: 20px;
}  

th, td {  
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}  

th {  
    background-color: #151929;  
    color: #fff;
    font-weight: bold;
}  

.row-color {  
    background-color: #f2f2f2;
} 

/* Responsive Adjustments */
@media (max-width: 600px) {
    .container1 {
        width: 90%; /* Adjust width for smaller screens */
    }

    .profile-img {
        width: 60px; /* Reduce image size for smaller screens */
        height: 60px;
    }

    .header-info h1 {
        font-size: 1.5em; /* Adjust font size for smaller screens */
    }

    .header-info p {
        font-size: 1em; /* Adjust font size for smaller screens */
    }

    .section h2 {
        font-size: 1.5em; /* Adjust font size for smaller screens */
    }

    .job h3, .education h3 {
        font-size: 1.2em; /* Adjust font size for smaller screens */
    }

    .job p, .education p {
        font-size: 0.9em; /* Adjust font size for smaller screens */
    }
}

/* curriculum2 */

.box2 {
    padding-top: 60px;
    display: flex;
    justify-content: center; /* Center the container */
    align-items: center;
    min-height: 100vh; /* Full viewport height */
}

.container2 {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    margin: 20px auto;
    box-sizing: border-box; /* Include padding and border in width */
}


/* Responsive Adjustments */
@media (max-width: 600px) {
    .container2 {
        width: 90%; /* Adjust width for smaller screens */
    }

    .profile-img {
        width: 60px; /* Reduce image size for smaller screens */
        height: 60px;
    }

    .header-info h1 {
        font-size: 1.5em; /* Adjust font size for smaller screens */
    }

    .header-info p {
        font-size: 1em; /* Adjust font size for smaller screens */
    }

    .section h2 {
        font-size: 1.5em; /* Adjust font size for smaller screens */
    }

    .job h3, .education h3 {
        font-size: 1.2em; /* Adjust font size for smaller screens */
    }

    .job p, .education p {
        font-size: 0.9em; /* Adjust font size for smaller screens */
    }
}

#box{  
    position: relative;  
    color: #fff;  
    padding: 12em 0 20em 0;  
    text-align: center;  
    font-size: 17px;  
    overflow: hidden; /* Asegura que el contenido no se desborde */  
}  

#background-video {  
    position: absolute;  
    top: 50%;  
    left: 50%;  
    width: 100%;  
    height: 100%;  
    width: auto;  
    height: auto;  
    z-index: -1; /* Asegura que el video quede detrás del contenido */  
    transform: translate(-50%, -50%);  
}  

.box{
    position: absolute; /* Permite posicionar el cuadro de manera independiente */  
    top: 170px; /* Espacio desde la parte superior de la pantalla */  
    left: 50%; /* Centrar en la pantalla */  
    transform: translateX(-50%); /* Ajustar el centrado */  
    width: 700px; /* Ancho del cuadro */  
    height: 150px;
    padding: 50px; /* Espaciado interno */  
    background-color: white; /* Color de fondo */  
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Sombra para el cuadro */  
    z-index: 900; /* Asegura que el cuadro esté encima de otros elementos, pero debajo del navbar */
    border-radius: 15px;
    text-align: center;
}

.text {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: #4c7bc1dd;
}

/* curriculum3 */

.box3 {
    padding-top: 60px;
    display: flex;
    justify-content: center; /* Centrar el contenedor */
    align-items: center;
    min-height: 100vh; /* Altura completa de la ventana */
}

.container3 {
    background-color: #f9f9f9;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    margin: 20px auto;
    box-sizing: border-box; /* Incluir padding y border en el ancho */
}

/* Responsive Adjustments */
@media (max-width: 600px) {
    .container3 {
        width: 90%; /* Ajustar el ancho para pantallas más pequeñas */
    }

    .profile-img3 {
        width: 60px; /* Reducir el tamaño de la imagen para pantallas más pequeñas */
        height: 60px;
    }

    .header-info3 h1 {
        font-size: 1.5em; /* Ajustar el tamaño de la fuente para pantallas más pequeñas */
    }

    .header-info3 p {
        font-size: 1em; /* Ajustar el tamaño de la fuente para pantallas más pequeñas */
    }

    .section3 h2 {
        font-size: 1.5em; /* Ajustar el tamaño de la fuente para pantallas más pequeñas */
    }

    .job3 h3, .education3 h3 {
        font-size: 1.2em; /* Ajustar el tamaño de la fuente para pantallas más pequeñas */
    }

    .job3 p, .education3 p {
        font-size: 0.9em; /* Ajustar el tamaño de la fuente para pantallas más pequeñas */
    }
}

html {  
    scroll-behavior: smooth;  
} 

.button{
    display:inline-block; 
    padding: 15px 25px; 
    margin: 10px; 
    font-size: 16px; 
    color: #fff; 
    background-color: #4c7bc1dd; 
    text-decoration: none; 
    border-radius: 8px; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

.button:hover{ 
    background-color: #578cdcdd; 
    transform: translateY(-2px);
}

.menu-icon {
    display: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
    padding-right: 55px;
}


@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 230px; /* Ajuste el ancho del menú */
        background-color: #cadfff30;
        position: absolute;
        top: 63px;
        right: 35px;
        border-radius: 10px; /* Bordes redondeados */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
        z-index: 999;
        overflow: hidden; /* Elimina el desbordamiento */
        backdrop-filter: blur(1px);
    }

    .nav-links.active {
        display: flex;
        animation: fadeIn 0.5s ease-in-out; /* Animación de aparición */
    }

    .nav-links li {
        width: 200px;
        text-align: center;
        padding: 12px 0px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3); /* Línea separadora suave */
    }

    .nav-links li:last-child {
        border-bottom: none; /* Elimina la línea del último elemento */
    }

    .nav-links a {
        padding: 14px 20px;
        font-size: 18px;
        color: white; /* Color de los enlaces */
        transition: background-color 0.3s, color 0.3s; /* Transición suave para el color y fondo */
    }

    .nav-links a:hover {
        color: #b0d0ff; /* Color del texto al pasar el ratón */
    }

    .menu-icon {
        display: block;
        font-size: 20px; /* Tamaño del ícono */
        color: white;
        cursor: pointer;
        padding-right: 60px;
    }
}

/* Animación para la aparición del menú */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}