body {  
    margin: 0;  
    font-family: Verdana;
}  

html {  
    scroll-behavior: smooth;  
} 

.navbar {  
    display: flex;  
    justify-content: space-between;  
    align-items: center;  
    background-color: #224652;
    padding: 10px 40px;  
    position: fixed; /* Fija la barra de navegación */  
    width: 100%; /* Asegura que ocupa todo el ancho */  
    top: 0; /* Se posiciona en la parte superior */ 
    z-index: 1000; /* Asegura de que sea mayor que otros elementos */
}

.nav-links {  
    list-style-type: none;  
    display: flex;  
    margin: 0;  
    padding: 0;
    margin-right: 60px;  
}  

.nav-links li {  
    margin: 0 15px;  
}  

.nav-links a {  
    color: white;  
    text-decoration: none;  
    font-size: 18px;  
    transition: color 0.3s;  
}  

.nav-links a:hover {  
    color: #FDD494; /* Color al pasar el ratón */  
    transition-delay: 0.1s; 
}