body {  
    background-image: url(/images/background/sky.jpg);  
    font-family: Verdana;  
    display: flex;  
    justify-content: center;  
    align-items: center;  
    height: 100vh;  
    margin: 0;  
    background-repeat: no-repeat;  
    background-size: cover;  
}  

.captcha {  
    color: #2d5085;  
}  

.container {  
    background: #ebebeb;
    width: 300px;  
    height: 350px;  
    overflow: hidden;  
    border-radius: 10px;  
    box-shadow: 5px 20px 50px #1010107b; 
    padding: 30px;  
}  

h2 {  
    text-align: center;  
    color: #4377c5;  
}  

input[type="email"], input[type="text"] {  
    width: 100%; /* Ajusta el ancho para que coincida con el contenedor */  
    padding: 10px;  
    margin: 10px 0;  
    border: 2px solid rgba(255, 255, 255, 0.413);  
    border-radius: 5px;  
    outline-color: #4377c5;  
    box-sizing: border-box; /* Asegura que el padding se incluya en el ancho */  
    background-color: rgba(255, 255, 255, 0.413);
}  

button {  
    width: 100%; /* Ajusta el ancho para que coincida con el contenedor */  
    padding: 10px;  
    background-color: #4377c5;  
    border: none;  
    border-radius: 5px;  
    color: white;  
    font-size: 16px;  
    cursor: pointer;  
    margin-top: 10px; /* Espaciado superior para separar del elemento anterior */  
}  

button:hover {  
    background-color: #ffffffc3;  
    color: #4377c5;
}  

.message {  
    text-align: center;  
    margin-top: 10px;  
    color: #1b3762;  
}  

.return {  
    color: #1b3762; /* Color normal del texto */  
    text-decoration: none; /* Elimina el subrayado */  
    display: block; /* Asegura que el enlace ocupe toda la línea */  
    text-align: center; /* Centra el texto en el link */  
    margin-top: 10px; /* Espaciado superior para separar del elemento anterior */  
}  

.return:hover {  
    color: #4377c5; /* Color al pasar el ratón */  
    text-decoration: underline;
}  

.alert-success {  
    color: rgb(78, 160, 78);  
}  

.alert-error {  
    color: rgb(210, 12, 12);  
}