body {  
    margin: 0;  
    font-family: Verdana;
    background-color: rgb(241, 241, 241);
}  

html {  
    scroll-behavior: smooth;  
} 

.navbar {  
    display: flex;  
    justify-content: space-between;  
    align-items: center;  
    background-color: #1b4aa200;
    padding: 10px 40px;  
    position: fixed; 
    width: 100%; 
    top: 0; 
    z-index: 1000; 
}

.navbar.scrolled {  
    background-color: #4c7bc1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.272);  
    transition: background-color 0.9s, box-shadow 0.7s; 
}

.nav-links {  
    list-style-type: none;  
    display: flex;  
    margin: 0;  
    padding: 0;
    margin-right: 60px;  
}  

.nav-links li {  
    margin: 0 15px;  
}  

.nav-links a {  
    color: white;  
    text-decoration: none;  
    font-size: 18px;  
    transition: color 0.3s;  
}  

.nav-links a:hover {  
    color: #284570; /* Color al pasar el ratón */  
    transition-delay: 0.1s; 
}

.icons {  
    list-style: none; /* Sin puntos de lista */  
    padding: 0; /* Sin padding */  
    margin: 0; /* Sin margenes */  
}  
   
.icons li {  
    display: inline-block; /* Mostrar íconos en línea */  
    margin: 10px 15px 4px; /* Espaciado entre íconos */  
}  
   
/* Estilo para los íconos (imágenes) */  
.icons img {  
    width:30px; /* Ajusta el tamaño de los íconos */  
    height: auto; /* Mantiene la proporción */  
}  
   
/* Estilo para la sección de derechos de autor */  
.copyright {  
    list-style: none; /* Sin puntos de lista */  
    padding: 0; /* Sin padding */  
    margin-top: 20px; /* Espaciado superior */  
}  
   
.copyright li {  
    display: inline; /* Mostrar en línea */  
    margin:010px; /* Espaciado entre elementos */  
}  
   
.copyright a {  
    color: #b0d0ff; /* Color de los enlaces */  
    text-decoration: none; /* Sin subrayado */  
}  
   
.copyright a:hover {  
    text-decoration: none; /* Subrayar al pasar el ratón */  
    color: #98c1ff;
}

.footer{
    position: absolute; /* Permite posicionar el cuadro de manera independiente */  
    top: auto; /* Espacio desde la parte superior de la pantalla */  
    left: 50%; /* Centrar en la pantalla */  
    transform: translateX(-50%); /* Ajustar el centrado */  
    width: 100%; /* Ancho del cuadro */  
    height: 90px;
    background-color: white; /* Color de fondo */  
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Sombra para el cuadro */  
    z-index: 990; /* Asegura que el cuadro esté encima de otros elementos, pero debajo del navbar */  
}

#footer {  
    background-color: #4c7bc1; /* Color de fondo oscuro */  
    color: #b0d0ff; /* Color del texto */  
    text-align: center; /* Texto centrado */  
    padding: 15px 0;
    position: relative; /* Posicionamiento normal */  
    bottom: 0; /* Ubicación en la parte inferior */  
    width: 100%; /* Ancho completo */  
    font-family: Verdana; /* Fuente del footer */  
}  

.menu-icon {
    display: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
    padding-right: 55px;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 230px; /* Ajuste el ancho del menú */
        background-color: #cadfff45;
        position: absolute;
        top: 80px;
        right: 35px;
        border-radius: 10px; /* Bordes redondeados */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.308); /* Sombra suave */
        z-index: 999;
        overflow: hidden; /* Elimina el desbordamiento */
        backdrop-filter: blur(5px);
    }

    .nav-links.active {
        display: flex;
        animation: fadeIn 0.5s ease-in-out; /* Animación de aparición */
    }

    .nav-links li {
        width: 200px;
        text-align: center;
        padding: 12px 0px;
        border-bottom: 1px solid rgba(150, 150, 150, 0.443); /* Línea separadora suave */
    }


    .nav-links li:last-child {
        border-bottom: none; /* Elimina la línea del último elemento */
    }

    .nav-links a {
        padding: 14px 20px;
        font-size: 18px;
        color: #284570; /* Color de los enlaces */
        transition: background-color 0.3s, color 0.3s; /* Transición suave para el color y fondo */
    }

    .nav-links a:hover {
        color: #000000; /* Color del texto al pasar el ratón */
    }

    .menu-icon {
        display: block;
        font-size: 20px; /* Tamaño del ícono */
        color: white;
        cursor: pointer;
        padding-right: 60px;
    }
}

/* Animación para la aparición del menú */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}

#box {  
    position: relative;
    color: #fff;
    padding: 12em 0 20em 0;
    text-align: center;
    font-size: 17px;
    overflow: hidden; 
}
    
#background-video {  
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
}
    
.box {
    position: absolute;
    top: 170px;
    left: 50%;
    transform: translateX(-50%);
    width: 90vw;
    max-width: 700px;
    height: auto;
    padding: 50px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 900;
    border-radius: 15px;
    text-align: center;
}
    
.text {
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    color: #4c7bc1dd;
}

.box1 {  
    margin: 10vh auto;
    width: 90vw;
    max-width: 70vw;
    height: auto;
    padding: 5vh;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 900;
    border-radius: 1.5vw;  
}

.box1:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.box1 header {
    font-size: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #4c7bc1dd;
    text-align: center;
}

.box1-text {
    padding-top: 20px;
    padding-left: 5px;
    color: #8a8a8add;
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.box1 input[type="text"], .box1 input[type="submit"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    box-sizing: border-box;
    outline-color: #4c7bc1dd;
}

.box1 button {
    background-color: #4c7bc1dd;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    font-size: 16px;
}

.box1 button:hover {
    color: #4c7bc1dd;
    background-color: #ececec;
}

.box2 {
    border: none;
    margin-bottom: 20px;
}

.box2 legend {
    font-weight: bold;
    color: #8a8a8add;
    margin-bottom: 10px;
}

#enviar:hover { 
    color: #4c7bc1dd; 
    background-color: #ececec; 
} 
    
.button-container { 
    display: block; 
    justify-content: space-between; 
    align-items: center; 
} 

.button-container button, .button-container input[type="submit"] { 
    width: auto; 
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: auto; 
    border: 1px solid #e9e9e9; 
    border-radius: 5px; 
    box-sizing: border-box; 
    outline-color: #4c7bc1dd; 
    background-color: #4c7bc1dd; 
    color: #fff; 
    cursor: pointer; 
    font-size: 15px; 
} 

.button-container button:hover, .button-container input[type="submit"]:hover { 
    color: #4c7bc1dd; 
    background-color: #ececec; 
}

@media (max-width: 768px) {
    .button-container { 
        flex-direction: column; /* Los botones se disponen verticalmente */
        align-items: stretch; /* Botones se extienden a lo largo del contenedor */
    }

    .button-container button, .button-container input[type="submit"] { 
        width: 100%; /* Botones ocupan el 100% del ancho del contenedor */
    }
}


.radio-container {
    font-family: Verdana;
    margin-bottom: 15px;
}

.radio-container input[type="radio"] {
    margin-right: 8px;
}

.radio-container label {
    margin-right: 15px;
    font-size: 16px;
    color: #868686dd;
}